## C++

# User-specific files
.clang-format
cmake-build-debug/
cmake-build-release/
.idea/
*.exe

## Misc

# Personal files
*_p.*
links/
pdf/

*.out
grid-methods/16.synctex(busy)
grid-methods/__main__.synctex(busy)
grid-methods/__main__.toc
